<head>
    <meta charset="utf-8">

    {%- if page.url == '/404.html' -%}
    <meta name="robots" content="noindex, nofollow">
    {%- endif -%}

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{page.title}} - {{site.name}}</title>

    {%- if page.url == '/' -%}
    <meta name="description" content="{{ site.custom.description }}">
    {%- endif -%}

    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.url }}">

    <link rel="preload" as="image" href="{{'/assets/img/qtvlogo.svg' | prepend: site.url}}">
    <link rel="preload" as="font" type="font/woff2" crossorigin href="https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu4mxK.woff2">
    <link rel="preload" as="font" type="font/woff2" crossorigin href="https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmWUlfBBc4.woff2">

    {%- if site.custom.is_development -%}
        <script type="module" src="/assets/js/StyleProxy.js"></script>
    {%- else -%}
        <link rel="preload" as="style" href="{{site.url | append: '/assets/' | append: site.data.rev-manifest['styles.min.css']}}">
        <link rel="stylesheet" href="{{site.url | append: '/assets/' | append: site.data.rev-manifest['styles.min.css']}}">
        <script crossorigin src="https://unpkg.com/react@18.1.0/umd/react.production.min.js"></script>
        <script crossorigin src="https://unpkg.com/react-dom@18.1.0/umd/react-dom.production.min.js"></script>
    {%- endif -%}

    <link rel="shortcut icon" type="image/x-icon" href="{{site.url}}/favicon.ico">
</head>
