<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item" href="{{ '/' | prepend: site.url}}">
                <img src="{{'/assets/img/logo.svg' | prepend: site.url}}" alt="{{site.name}} logo" height="35" />
            </a>

            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="app-topnav">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="app-topnav" class="navbar-menu">
            <div class="navbar-start">

                {%- assign pages = site.pages | where_exp:"p", "p.custom_topnav_order > 0" | sort:"custom_topnav_order"
                -%}

                {% for p in pages %}
                <a href="{{p.url | prepend: site.url}}"
                   class="navbar-item {% if p.url== page.url %}is-active{% endif %}">
                    {% if p.custom_topnav_title %}{{p.custom_topnav_title}}{% else %}{{p.title}}{% endif %}
                </a>
                {% endfor %}
            </div>

        </div>
    </div>
</nav>
