.ag-theme-qwhub {
  --ag-background-color: none !important;
  --ag-foreground-color: none !important;
  --ag-border-color: none !important;
  --ag-secondary-border-color: none !important;
  --ag-header-background-color: none !important;
  --ag-header-foreground-color: #9ca3af !important;
  --ag-modal-overlay-background-color: rgba(24, 29, 31, 0.66) !important;
  --ag-tooltip-background-color: #222628 !important;
  --ag-odd-row-background-color: rgba(255, 255, 255, 0.05) !important;
  --ag-control-panel-background-color: #222628 !important;
  --ag-subheader-background-color: #000 !important;
  --ag-input-border-color: rgb(75, 85, 99) !important;
  --ag-input-focus-box-shadow: 0 0 2px 0.5px rgba(255, 255, 255, 0.5),
    0 0 4px 3px var(--ag-input-focus-border-color) !important;
  --ag-input-disabled-background-color: #282c2f !important;
  --ag-input-disabled-border-color: rgba(104, 104, 110, 0.3) !important;
  --ag-input-disabled-background-color: rgba(104, 104, 110, 0.07) !important;
  --ag-card-shadow: 0 1px 20px 1px black !important;
  --ag-disabled-foreground-color: rgba(255, 255, 255, 0.5) !important;
  --ag-chip-background-color: rgba(255, 255, 255, 0.07) !important;
}
