// blur
@keyframes blur {
  from {
    filter: none;
  }

  33% {
    filter: blur(3px)
  }

  to {
    filter: none;
  }
}

.animation-blur {
  animation-name: blur;
  animation-timing-function: ease-out;
  animation-duration: 500ms;
  display: inline-block;
}

// fade in down
@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -50%, 0)
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0)
  }
}

.animation-fade-in-down {
  animation-name: fadeInDown;
  animation-duration: 250ms;
}

// fade in delayed
@keyframes fadeInDelayed {
  0% {
    opacity: 0;
  }
  66% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.animation-fade-in-delayed {
  animation-name: fadeInDelayed;
  animation-duration: 750ms;
  animation-fill-mode: forwards;
}
