@keyframes pulse {
  $scale-min: 1.0;
  $scale-max: 1.4;

  from {
    transform: scale3d($scale-min, $scale-min, $scale-min);
  }

  50% {
    transform: scale3d($scale-max, $scale-max, $scale-max);
  }

  to {
    transform: scale3d($scale-min, $scale-min, $scale-min);
  }
}

.animation-pulse {
  animation-name: pulse;
  animation-timing-function: ease-in-out;
  animation-duration: 500ms;
  display: inline-block;
}

@keyframes blur {
  from {
    filter: none;
  }

  50% {
    filter: blur(3px)
  }

  to {
    filter: none;
  }
}

.animation-blur {
  animation-name: blur;
  animation-timing-function: ease-out;
  animation-duration: 500ms;
  animation-delay: 1s;
  display: inline-block;
}
