body {
  font-family: sans-serif;
  margin: 0;
  background: #112;
}

h1 {
  text-align: center;
  margin-top: 50px;
  color: #dde;
}

p {
  text-align: center;
  margin-bottom: 60px;
  color: #dde;
}

a {
  color: #269BFF;
  text-decoration: none;
}


.item {
  display: inline-block;
  background: #334;
  margin: 0 0 1.5em;
  width: 100%;
  box-sizing: border-box;
  box-shadow: 2px 2px 4px 0 #000;
  color: #dde;
}

.item-matchtag {
  display: inline-block;
  background: #334;
  margin: 0 0 1.5em;
  width: 100%;
  border-width: 1px;
  border-style: solid;
  border-image: linear-gradient(var(--angle), #e1ef0a, #df5387) 1;
  animation: 10s rotate linear infinite;
  border-image-slice: 1;
  animation: 10s rotate linear infinite;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-shadow: 2px 2px 4px 0 #000;
  color: #dde;
}

.tag {
  width: -webkit-fill-available;
  position: relative;
  display: inline;
  float: left;
  z-index: 1;
  text-align: center;
  color: #f9d99d;
  font-size: 12px;
  font-weight: 900;
  margin: -25px 1em 0 0;
  text-transform: uppercase;
  text-shadow: 0 2px 0 #1f1f33;
}

.header {
  height: 35px;
  background: #445;
  margin: 0 4px 0 0;
  width: 100%;
  box-sizing: border-box;
  color: #dde;
  font-size: 16px;
  border-bottom: 1px solid #333344;
}

.mapname, .mapname-matchtag {
  margin: 8px 4px 0 14px;
  position: absolute;
  z-index: 1;
  font-size: 16px;
  font-weight: bold;
  color: #ababb9;
  text-shadow: 0 2px 2px #1f1f33;
}

.mapname-matchtag {
  color: white;
  text-shadow: 0 2px 0 #1f1f33;
}

.mode, .mode-matchtag {
  margin: 8px 14px 0 14px;
  position: relative;
  z-index: 1;
  font-size: 16px;
  font-weight: normal;
  font-style: italic;
  float: right;
  color: #ababb9;
}

.mode-matchtag {
  color: white;
  text-shadow: 0 2px 0 #1f1f33;
}

.serverdetails {
  display: inline;
  float: right;
  margin-right: 3px;
}

.players {
  display: inline-block;
  background: #445;
  padding: 1em 1em 1em 14px;
  width: 100%;
  box-sizing: border-box;
  color: #fff1d6;
  font-weight: bold;
}

.playercolor {
  display: inline-block;
  background-color: red;
  width: 16px;
  height: 11px;
  margin-right: 4px;
}

.specs {
  display: inline-block;
  border-top: 1px dashed #445;
  background: #3c3c4c;
  padding: 10px 0 14px 14px;
  width: 100%;
  box-sizing: border-box;
  color: #ababb9;
  font-size: 11px;
}

.speccolor {
  color: #f9d99db3;
  margin-right: 4px;
}

.bottom {
  display: inline-block;
  background: #334;
  padding: 1em;
  width: 100%;
  box-sizing: border-box;
  color: #ababb9;
  font-size: 11px;
}

.item img {
  max-width: 100%;
}

@keyframes rotate {
  to {
    --angle: 360deg;
  }
}

@property --angle {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}

.meter {
  box-sizing: content-box;
  height: 34px; /* Can be anything */
  position: relative;
  background-color: #444455;
  border-bottom: 1px solid #333344;
}

.meter > span {
  line-height: 36px;
  padding-left: 14px;
  display: block;
  height: 100%;
  background-color: rgb(68, 68, 85);
  background-image: linear-gradient(
                  center bottom,
                  rgb(43, 194, 83) 37%,
                  rgb(84, 240, 84) 69%
  );

  position: relative;
  white-space: nowrap;
  overflow: inherit;
  font-size: 16px;
}

.meter > span:after,
.animate > span > span {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: linear-gradient(
                  -45deg,
                  rgba(255, 255, 255, 0.2) 25%,
                  transparent 25%,
                  transparent 50%,
                  rgba(255, 255, 255, 0.2) 50%,
                  rgba(255, 255, 255, 0.2) 75%,
                  transparent 75%,
                  transparent
  );
  z-index: 1;
  background-size: 15px 15px;
  animation: move 7s linear infinite;
  overflow: hidden;
}

.animate > span:after {
  display: none;
}

@keyframes move {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 50px 50px;
  }
}

.yellow > span {
  background: linear-gradient(yellow, #a053df);
}

.red > span {
  background-image: linear-gradient(#f0a3a3, #f42323);
}

.nostripes > span > span,
.nostripes > span::after {
  background-image: none;
}

.masonry {
  column-count: 5;
  margin: 1.5em;
  column-gap: 1.5em;

  @media only screen and (max-width: 320px) {
    column-count: 1;
  }

  @media only screen and (min-width: 321px) and (max-width: 768px) {
    column-count: 2;
  }

  @media only screen and (min-width: 769px) and (max-width: 1200px) {
    column-count: 4;
  }

  @media only screen and (min-width: 1201px) {
    column-count: 6;
  }
}
