@import "node_modules/bulma/sass/utilities/mixins";
@import "./bulma_variables";
@import "node_modules/bulma/bulma";

// content
.content {
  h4:not(:first-child),
  h5:not(:first-child),
  h6:not(:first-child) {
    margin-top: 2em;
  }
}

// navbar
$dh-navbar-vseparator-border: 1px solid $grey-lighter;
$dh-navbar-hseparator-border: 1px solid $grey-lightest;

.container .navbar-brand {
  margin-left: 0 !important;
}

.navbar {
  box-shadow: $shadow-soft;
}

.navbar-item {
  align-items: center;
  display: flex;
  height: $navbar-height;
  padding: 0 1.25rem;
}

.navbar-brand a.navbar-item:hover {
  background-color: $navbar-item-hover-background-color;
}

.navbar-brand, .navbar-burger {
  border-left: $dh-navbar-hseparator-border;
}

@include from($navbar-breakpoint) {
  .navbar-start > .navbar-item,
  .navbar-brand {
    border-right: $dh-navbar-hseparator-border;
  }
}

.navbar-burger > span {
  height: 2px;
}

.navbar-menu {
  padding: 0;
}

@include mobile() {
  .navbar-brand .navbar-item {
    flex-grow: 1;
  }
  .navbar-start > .navbar-item {
    border-top: $dh-navbar-vseparator-border;
  }
}

// section
@include until($desktop) {
  .section {
    padding-left: $size-small;
    padding-right: $size-small;
  }
}
