@import "node_modules/bulma/sass/utilities/initial-variables";

$family-sans-serif: "Roboto", BlinkMacSystemFont, -apple-system, "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$family-primary: $family-sans-serif;
$family-secondary: $family-sans-serif;

$scheme-main: #112;
$scheme-main-bis: lighten($scheme-main, 8);
$scheme-main-ter: lighten($scheme-main, 16);

$blue: hsl(217, 71%, 53%);
$red: hsl(348, 100%, 56%);
$primary: $blue;
$dark: desaturate(lighten($scheme-main-bis, 30), 20);

$background: $scheme-main-bis;

$text: #ccc;
$text-strong: lighten($text, 10);

$border: lighten($scheme-main, 40);
$border-hover: lighten($border, 16);

$link-hover: $white;

$button-border-color: $scheme-main;
$button-hover-border-color: $button-border-color;

$input-background-color: $scheme-main-bis;

$section-padding: 0 0 2rem;
$section-padding-medium: $section-padding;
$section-padding-large: $section-padding;
$section-padding-desktop: $section-padding;

$progress-bar-background-color: $scheme-main;
$progress-value-background-color: $grey;
$progress-border-radius: 0;

$radius-small: $radius;

$tag-radius: 2px;

$container-max-width: 9999px;
