$size: 6px;
$color-waiting-fg: #ddd;
$color-waiting-bg: #888;
$animation-speed: 1s;

// waiting
.indicator-waiting-container {
  display: inline-block;
  width: 3 * $size;
  margin-left: 2 * $size;
  border-bottom: 0.25 * $size solid transparent;
}

.indicator-waiting,
.indicator-waiting:before,
.indicator-waiting:after {
  width: $size;
  height: $size;
  border-radius: 0.5 * $size;
  background-color: $color-waiting-fg;
  color: $color-waiting-fg;
}

.indicator-waiting:before,
.indicator-waiting:after {
  animation: dotWaiting $animation-speed infinite alternate;
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
}

.indicator-waiting {
  position: relative;
  animation: dotWaiting $animation-speed infinite linear alternate;
  animation-delay: 0.25s;
}

.indicator-waiting::before {
  left: -($size * 1.5);
  animation-delay: 0s;
}

.indicator-waiting::after {
  left: ($size * 1.5);
  animation-delay: 0.5s;
}

@keyframes dotWaiting {
  0% {
    background-color: $color-waiting-fg;
  }
  50%,
  100% {
    background-color: $color-waiting-bg;
  }
}
