$size: 6px;
$color-started: red;
$color-waiting-fg: #ddd;
$color-waiting-bg: #888;
$animation-speed: 1s;

.indicator-dot {
  width: $size;
  height: $size;
  border-radius: ($size/2);
}

// started
.indicator-started {
  @extend .indicator-dot;
  background-color: $color-started;
  color: $color-started;
  animation: dotStarted $animation-speed infinite linear alternate;
}

@keyframes dotStarted {
  0% {
    background-color: $color-started;
  }
  50%,
  100% {
    background-color: darken($color-started, 15);
  }
}


// waiting
.indicator-waiting-container {
  width: 3*$size;
  margin-left: $size;
}

.indicator-waiting,
.indicator-waiting:before,
.indicator-waiting:after {
  @extend .indicator-dot;
  background-color: $color-waiting-fg;
  color: $color-waiting-fg;
}

.indicator-waiting:before,
.indicator-waiting:after {
  animation: dotWaiting $animation-speed infinite alternate;
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
}

.indicator-waiting {
  position: relative;
  animation: dotWaiting $animation-speed infinite linear alternate;
  animation-delay: .25s;
}

.indicator-waiting::before {
  left: -($size*1.5);
  animation-delay: 0s;
}

.indicator-waiting::after {
  left: ($size*1.5);
  animation-delay: 0.5s;
}

@keyframes dotWaiting {
  0% {
    background-color: $color-waiting-fg;
  }
  50%,
  100% {
    background-color: $color-waiting-bg;
  }
}
