$frags-width: 36px;
$spacer: .5rem;

.scoreboard {
  display: grid;
  color: white;
  font-size: .9rem;
  text-shadow: 1px -1px 0 black, -1px -1px 0 black, 1px 1px 0 black, -1px 1px 0 black;
}

.scoreboard.sc-one-column {
  &.sc-show-team .sc-row {
    grid-template-columns: $frags-width auto 1fr;
  }

  &.sc-hide-team .sc-row {
    grid-template-columns: $frags-width 1fr;
  }
}

.sc-row {
  display: grid;
  column-gap: $spacer;
  align-items: center;
}

.scoreboard.sc-two-columns {
  grid-template-columns: 1fr 1fr;
  column-gap: $spacer;

  .sc-column:first-child .sc-row {
    grid-template-columns: 1fr $frags-width;

    .sc-name {
      order: -1;
      justify-content: end;
    }
  }

  .sc-column:last-child .sc-row {
    grid-template-columns: $frags-width 1fr;
  }

  &.sc-teamplay .sc-row:first-child {
    margin-bottom: 1.5*$spacer;
    font-size: 1.2em;
  }
}

.sc-name {
  display: flex;
  align-items: center;

  & > span:first-child {
    max-width: 140px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

.sc-team,
.sc-frags {
  text-align: center;
}

.sc-team {
  width: 46px;
}

.sc-frags {
  font-weight: bold;
  font-size: .9em;
  padding: 1px 0;
}

.sc-label {
  padding: 2px 3px;
  margin-left: 3px;
  border-radius: 3px;
  background: #222;
  color: #fff;
  text-shadow: none;
  font-size: 10px;
  font-family: monospace;
}
