$frags-width: 36px;
$bot-color: #be9888;

.scoreboard {
  @apply grid text-white text-sm;

  &.sc-one-column {
    &.sc-show-team .sc-row {
      grid-template-columns: $frags-width auto 1fr;
    }

    &.sc-hide-team .sc-row {
      grid-template-columns: $frags-width 1fr;
    }
  }
}

.sc-row {
  @apply grid items-center gap-2;
}

.scoreboard.sc-two-columns {
  @apply gap-2;
  grid-template-columns: 1fr 1fr;

  .sc-column:first-child .sc-row {
    grid-template-columns: 1fr $frags-width;

    .sc-name {
      @apply justify-end -order-1;
    }
  }

  .sc-column:last-child .sc-row {
    grid-template-columns: $frags-width 1fr;
  }

  &.sc-teamplay .sc-row:first-child {
    @apply text-lg mb-3;
  }
}

.sc-name {
  @apply flex items-center;

  & > span:first-child {
    @apply truncate;
    max-width: 140px;
  }
}
