$frags-width: 36px;

.scoreboard {
  @apply text-sm;
  @extend .app-text-outline;

  &.sc-one-column {
    &.sc-show-team .sc-row {
      grid-template-columns: $frags-width auto 1fr;
    }

    &.sc-hide-team .sc-row {
      grid-template-columns: $frags-width 1fr;
    }
  }

  &.sc-two-columns {
    grid-template-columns: 1fr 1fr;

    .sc-column:first-child .sc-row {
      grid-template-columns: 1fr $frags-width;

      .sc-name {
        @apply justify-end -order-1;
      }
    }

    .sc-column:last-child .sc-row {
      grid-template-columns: $frags-width 1fr;
    }
  }
}
