$server-bg: #445;
$spectator-bg: #3c3c4c;
$footer-bg: #334;
$footer-color: #ababb9;
$spec-color: #f9d99db3;
$matchtag-bg: $red;


.server-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.server {
  display: flex;
  flex-direction: column;
  height: 100%;
  background: $server-bg;

  .server-table-spacer {
    height: 5px;
  }

  .server-frags {
    $width: 42px;
    width: $width;
    max-width: $width;
  }

  .servers-table {
    th,
    td {
      color: #e7e7e7;
      padding: 0 4px;
      vertical-align: middle;
      text-align: center;
    }

    &.two-teams {
      th:nth-child(n+2):nth-child(-n+6) {
        @extend .app-text-large;
      }

      th:nth-child(2) {
        background: linear-gradient(to right, transparent, rgba(black, 0.5));
      }

      th:nth-child(6) {
        background: linear-gradient(to left, transparent, rgba(black, 0.5));
      }

      th:nth-child(n+1):nth-child(-n+2),
      td:nth-child(n+1):nth-child(-n+2) {
        text-align: right;
        @extend .pr-2;
      }

      th:nth-child(n+6):nth-child(-n+7),
      td:nth-child(n+6):nth-child(-n+7) {
        text-align: left;
        @extend .pl-2;
      }
    }
  }

  .tag {
    height: 1.2rem;
    padding: 0 0.4rem;
    line-height: 1;
    font-size: 10px;
    font-weight: bold;
    letter-spacing: 1px;
    text-shadow: rgba(black, 0.5) 1px 1px 1px;
  }
}

.server-header {
  border-bottom: 1px solid $footer-bg;
}

.server-matchtag {
  padding: 5px 0;
  background: linear-gradient(to right, transparent, rgba($matchtag-bg, 0.8) 30% 70%, transparent);
  color: #fff;
  font-size: 11px;
  font-weight: bold;
  letter-spacing: 3px;
  text-align: center;
  text-shadow: #000000b0 1px 1px 2px;
  text-transform: uppercase;
}

.server-wrapper {
  @mixin smod($color, $glow-width) {
    padding: 2px;
    background: linear-gradient(to bottom, $color, transparent);
    box-shadow: rgba($color, 0.2) 0 0 $glow-width;
  }

  &.smod-matchtag {
    @include smod($matchtag-bg, 64px);
  }

  &.smod-hasfreeplayerslots {
    @include smod(#2397d1, 32px);
  }
}

.server-mapshot,
.server-mapshot-wrapper {
  background-size: cover;
  background-position: center center;
}

.server-mapshot-wrapper {
  background-color: #444;
  background-image: url(/assets/img/map_default.jpg);
  flex-grow: 1;
}

.server-mapshot,
.server-mapshot-dimmer {
  height: 100%;
}

.server-mapshot-dimmer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 140px;
  background-color: rgba($spectator-bg, 0.5);
  text-shadow: black 1px 1px 1px;
  color: white;
}

.server-flag {
  display: inline-block;
  vertical-align: middle;
}

.server-spectators {
  background: $spectator-bg;
  line-height: 1.3;
}

.server-spectator-prefix {
  @extend .has-text-right;

  display: inline-block;
  width: 32px;
  margin-right: .5rem;
  color: $spec-color;
}

.server-progress {
  $height: 2px;
  height: $height !important;
  background-color: $grey;

  .server-progress-bar {
    position: relative;
    height: $height;
    background: linear-gradient(to right, darken($green, 20) 80%, $green);
    display: flex;
    align-items: center;

    &:after {
      $dot: 6px;
      $color: $green;

      display: block;
      width: $dot;
      height: $dot;
      position: absolute;
      right: -($dot/2);
      border-radius: $dot;
      background-color: $color;
      content: '';
      box-shadow: rgba(black, 0.5) 0 0 2px 1px, rgba(lighten($color, 20), 0.4) 0 0 3px 2px;
      animation: serverProgressDot 0.8s infinite linear alternate;

      @keyframes serverProgressDot {
        0% {
          background-color: $color;
        }
        50%,
        100% {
          background-color: lighten($color, 20);
        }
      }
    }
  }
}


.server-footer {
  background: $footer-bg;
  color: $footer-color;
}
