.server-wrapper {
  @mixin app-smod($color, $glow-width) {
    padding: 2px;
    background: linear-gradient(to bottom, $color, rgba($color, .3));
    box-shadow: rgba($color, 0.2) 0 0 $glow-width;
  }

  &.smod-matchtag {
    @include app-smod(#ff0, 64px);
  }

  &.smod-hasfreeplayer_slots {
    @include app-smod(#2397d1, 32px);
  }
}

.server-progress {
  $height: 2px;
  @apply bg-gray-400 h-[#{$height}];

  .server-progress-bar {
    $green: hsl(153, 53%, 53%);
    @apply flex relative h-[#{$height}] items-center;
    background: linear-gradient(to right, darken($green, 20) 80%, $green);
    transition: width 500ms ease-in-out;

    &:after {
      @apply block absolute content-[''];
      $dotSize: 6px;
      $color: $green;
      width: $dotSize;
      height: $dotSize;
      right: -.5*$dotSize;
      border-radius: $dotSize;
      background-color: $color;
      box-shadow: rgba(black, 0.5) 0 0 2px 1px, rgba(lighten($color, 20), 0.4) 0 0 3px 2px;
      animation: serverProgressDot 0.8s infinite linear alternate;

      @keyframes serverProgressDot {
        0% {
          background-color: $color;
        }
        50%,
        100% {
          background-color: lighten($color, 20);
        }
      }
    }
  }
}

.server-address {
  .app-icon {
    display: none;
  }

  &:hover,
  &:active {
    .app-icon {
      display: inline-block;
    }
  }

  &::after {
    content: "";
    display: inline-block;
    clear: both;
  }
}
