.app-tiles {
  display: grid;
  grid-gap: $gap;
  grid-template-columns: 1fr;

  @media only screen and (min-width: 641px) and (max-width: 960px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media only screen and (min-width: 961px) and (max-width: 1280px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media only screen and (min-width: 1281px) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.app-tile {
  display: block;
}

$app-server-border-width: 5px;

.server {
  border: $app-server-border-width solid $background;
  border-radius: $app-server-border-width;
}

.players,
.players-outer {
  background-size: cover;
  background-position-x: center;
}

.players-outer {
  background-color: #444;
  background-image: url(/assets/img/map_default.jpg);
}

.players {
  display: flex;
  align-items: center;
  min-height: 140px;
  padding: 1em;
  text-shadow: black 1px 1px 1px;
  color: white;

  .player-table th,
  .player-table td {
    color: #fff;
    border: none;
    padding: 0 4px;
    vertical-align: middle;
    text-align: center;

    &:first-child {
      @extend .dim;
    }
  }

  .dim {
    opacity: .6;
  }

  .player-table th {
    padding-bottom: 6px;
  }
}

.app-text-small {
  font-size: .8em;
}

.app-spectator-prefix {
  @extend .has-text-grey;
  @extend .has-text-right;

  display: inline-block;
  width: 32px;
  margin-right: .5rem;
}

