.app-tiles {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr;

  @media only screen and (min-width: 641px) and (max-width: 960px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media only screen and (min-width: 961px) and (max-width: 1280px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media only screen and (min-width: 1281px) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.app-tile {
  display: block;
}

.status-canjoin {
  border: 2px solid rgba(50, 100, 150, 0.6);
}

.players,
.players-outer {
  background-size: cover;

}

.players-outer {
  background-color: #444;
  background-image: url(/assets/img/map_default.jpg);
}

.players {
  display: flex;
  align-items: center;
  min-height: 140px;
  padding: 1em;
  background-size: cover;
  text-shadow: black 1px 1px 1px;
  color: white;

  .player-table th,
  .player-table td {
    color: #fff;
    border: none;
    padding: 0 4px;
    vertical-align: middle;
    text-align: center;

    &:first-child {
      @extend .dim;
    }
  }

  .dim {
    opacity: .6;
  }

  .player-table th {
    padding-bottom: 6px;
  }

  $playerColors: (
          0: rgb(123, 123, 123),
          1: rgb(83, 59, 27),
          2: rgb(79, 79, 115),
          3: rgb(55, 55, 7),
          4: rgb(71, 0, 0),
          5: rgb(95, 71, 7),
          6: rgb(143, 67, 51),
          7: rgb(127, 83, 63),
          8: rgb(87, 55, 67),
          9: rgb(95, 51, 63),
          10: rgb(107, 87, 71),
          11: rgb(47, 67, 55),
          12: rgb(123, 99, 7),
          13: rgb(47, 47, 127),
  );

  @each $topValue, $topHex in $playerColors {
    @each $bottomValue, $bottomHex in $playerColors {
      .color-#{$topValue}-#{$bottomValue} {
        $topFixed: saturate(lighten($topHex, 15), 10);
        $botFixed: saturate(lighten($bottomHex, 15), 10);
        background: linear-gradient(to bottom, $topFixed, $topFixed 50%, $botFixed 50%, $botFixed 100%);
      }
    }
  }
}

.app-text-small {
  font-size: .8em;
}

