@import "./scoreboard";
@import "./font_roboto";
@import "./animations";
@import "./quake_colors";
@import "./server";
@import "./indicators";
@import "./tailwind";

.debug {
  border: 1px solid red;

  > * {
    border: 1px solid yellow;
  }
}

#app-footer a {
  @apply py-1 text-blue-600 hover:text-white;

  & > span {
    @apply ml-2 text-gray-600 text-xs;
  }

  &:hover > span {
    @apply text-gray-400;
  }
}

.app-text-outline {
  text-shadow: 1px -1px 0 black, -1px -1px 0 black, 1px 1px 0 black,
    -1px 1px 0 black;
}

.app-text-shadow {
  text-shadow: rgba(black, 0.5) 1px 1px 1px;
}
