@import "./scoreboard";
@import "./font_roboto";
@import "./quake_colors";
@import "./server";
@import "./tailwind";

.debug {
  border: 1px solid red;

  > * {
    border: 1px solid yellow;
  }
}

.app-links > a,
.app-link {
  @apply py-1 text-blue-500 hover:text-white;

  & span {
    @apply text-gray-500 text-xs;
  }

  & > span {
    @apply ml-2;
  }

  &:hover span {
    @apply text-gray-300;
  }
}

.app-text-outline {
  text-shadow: 1px -1px 0 black,
  -1px -1px 0 black,
  1px 1px 0 black,
  -1px 1px 0 black;
}

.app-text-shadow {
  text-shadow: rgba(black, 0.5) 1px 1px 1px;
}
