.app-dim {
  opacity: .6;
}

.app-text-small {
  font-size: .8em;
}

.app-text-large {
  font-size: 1.2em;
}

#app-logo-link {
  padding-top: 5px;
}

@import "./fonts/roboto";
@import "./bulma";
@import "./bulma_override";
@import "./quake_colors";
@import "./grid";
@import "./server";
@import "./indicators";
@import "./layout";
